
body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    visibility: hidden;
}

.pic img {
  max-width: 100%;
  box-sizing: border-box;
}

.member {
  text-align: center;
  margin-bottom: 20px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.section-title-divider {
    width: 50px;
    height: 3px;
    background: rgb(177, 0, 0);
    margin: 0 auto;
    margin-bottom: 20px;
}

.section-description {
    text-align: center;
    margin-bottom: 40px;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

#about .about-container {
  background: url(../img/about-img.jpg) left top no-repeat;
}


#about {
  background: #fff;
  padding-bottom: 20px;
}

#schedule {
  background: #fff;
  padding: 30px 0;
  padding-top: 120px;
}

#team {
  background: #fff;
  padding: 20px 0;
}

.about-container {
  background: url(../img/about-img.jpg) left top no-repeat;
}

.about-content {
  background: #fff;
}

.about-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
}

.about-text {
  line-height: 26px;

}

.about-text:last-child {
    margin-bottom: 0;
}

button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

button, select {
    text-transform: none;
}

#contact {
  padding-top: 50px;
}

#contact .form button[type="submit"] {
    background: rgb(177, 0, 0);
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
    background: rgb(200, 0, 0);
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

#header {
  border: 0px solid;
  border-radius: 0px;
}
#header .navbar {
  background: rgb(88, 0, 0);
  border-radius: 0px;
  border-bottom: 0px;
}

.is-sticky #header .navbar{
  background: rgba(108, 0, 0, 0.78);
}

#header .nav-item a{
  color: rgba(255, 255, 255, 1);
}

#pretty {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/pretty-bg.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#pretty h3, #pretty p, #pretty {
  text-align: left;
  color: rgb(255,255,255);
}

.contact-btn-container {
  text-align: center;
}
.contact-btn {
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.contact-btn:hover {
  transition: 0.5s;
  color: rgba(255,255,255,1);
  background-color:rgb(177, 0, 0);
  border: 2px solid rgba(145, 13, 0, 0.91);
}

.fa {
  color:rgb(255, 0, 0);
  font-size: 30px;
}

@media (max-width: 767px) {
  .is-sticky #header {
      margin-left: 0;
      margin-right: 0;
      background: rgba(0, 0, 0, 0.30);
  }
}

.fa-facebook {
  color:rgb(37, 37, 37);
  font-size: 20px;
}

.days {
  margin-left: 85px;
}
.days p {
  text-align: center;
  font-weight: 700;
  font-family: Hind, sans-serif;
  color: black;
  line-height: 1.4;
  font-size: 16px;
}

.fullAvailable, .halfAvailable, .notAvailable {
  display: block;
  height: 160px;
  width:130px;
  padding: 10px;
  margin: 3px;
  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: rgba(46, 204, 64, 0.58);
  color: black;
  text-align: center;

  border: solid #111111 1px;
  border-radius: 30px;
}

.halfAvailable {
  background-color: rgba(255, 133, 27, 0.71);
}

.notAvailable {
  background-color: rgba(255, 65, 54, 0.73);
}

.wrapperAbsolute {
  position: relative;
  height: 160px;
  width:130px;
  margin: 3px;
}

.fullAvailable:hover, .halfAvailable:hover, .notAvailable:hover {
  display: block;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);

  position: absolute;
  padding: 10px;
  margin: 3px;
  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */
  z-index: 1;
  transition: 0.4s;
}

.fullAvailable:hover {
  transition: 0.4s;
  background: linear-gradient(to bottom, rgba(46, 204, 64, 0.9), rgba(156, 237, 142, 0.68));
}

.notAvailable:hover {
  transition: 0.4s;
  background: linear-gradient(to bottom, rgba(255, 65, 54, 0.9), rgba(251, 123, 123, 0.68));
}

.halfAvailable:hover {
  transition: 0.4s;
  background: linear-gradient(to bottom, rgba(255, 133, 27, 0.9), rgba(249, 144, 77, 0.68));
}

.moveSchedule-right {
  padding: 50px;
}

.moveSchedule-right i {
  color: rgb(177, 0, 0);
  font-size: 55px;
}


.moveSchedule-left {
  padding: 50px;
  padding-right: 60px;
}

.moveSchedule-left i {
  font-size: 55px;
  color: rgb(177, 0, 0);
}

.moveSchedule-right i:hover, .moveSchedule-left i:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  transition: 0.4s;
}

.halfAvailable .dayDescription {
  padding-top: 18px;
}

.fullAvailable .dayDescription {
  padding-top: 10px;
}

.notAvailable .dayDescription {
  padding-top: 23px;
}

.days .dayDescription {
  font-weight: 40;
}
